.idea/
.gradle
build/
*.iws
*.iml
*.ipr
out/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# Datasource local storage ignored files
/.idea/dataSources/
